<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="RedBusSuite">
    <test name="OrderedExecution">
        <classes>
            <class name="practices.redbus">
                <methods>
                    <include name="TrainSerach"/>
                    <include name="FreeCancelCharge"/>
                    <include name="TrainClass"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>
